<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=100%, initial-scale=1">
  <title>Assembly Election 2017</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('dist/css/opinion-poll-style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{ static_url('img/datook.png') }}" />
</head>
<body>
  <div class="container">
    <div class="header">
      <div class='selection'>
        <select id="state">
          <option value="goa" data-seats="40">Goa</option>
          <option value="manipur" data-seats="60">Manipur</option>
          <option value="punjab" data-seats="117">Punjab</option>
          <option value="uttarakhand" data-seats="70">Uttarakhand</option>
          <option value="up" data-seats="403">Uttar Pradesh</option>
        </select>
      </div>
      <h1><span id="state-name"></span> Assembly Election - <span id="num-seats"></span> seats</h1>
    </div>
    <div class="opinion-header">
      <h1>Opinion Poll - 2017</h1>
    </div>
    <div id="agency-list"></div>
    <div id="opinion-polls"></div>
    <div class="previous-header">
      <h1>Previous Years Results</h1>
    </div>
    <div id="previous-results"></div>
  </div>
  <script src="{{ static_url('vendor/d3/d3.min.js') }}"></script>
  <script src="{{ static_url('vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ static_url('dist/js/d3-force-cluster.min.js') }}"></script>
  <script src="{{ static_url('dist/js/render.js') }}"></script>
  <script src="{{ static_url('dist/js/bundle.min.js') }}"></script>


<!--   Testing
  <script src="{{ static_url('lib/previous_results.js') }}"></script>
  <script src="{{ static_url('lib/opinion_polls.js') }}"></script> -->

  <script>
    $('select#state').on('change', function() {
      var $this = $(this)

      var option = $this.val(),
          name = $this.find(':selected').html(),
          seats = $this.find(':selected').data('seats')

      update(option, name, seats)
    })

    function update(option, name, seats) {
      $('#state-name').html(name)
      $('#num-seats').html(seats)
      $.ajax({
        type: 'GET',
        url: `/opinion-poll/data/?state=${option}`,
        dataType: 'JSON'
      })
      .done((response) => {
        render(response)
      })
      .fail((xhr, status, error) => {
        console.log('fail')
        console.log('error: ', status)
      })
      .always(() => {})
    }

    update('goa', 'Goa', '40')
  </script>
</body>
</html>
