<!DOCTYPE html>
<html>
<head>
  <title>Voter turnout changes</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <table class="table table-responsive table-striped table-bordered table-hover">
    <thead>
      <tr>
        <td>Party</td>
        <td>Leading (Result declared)</td>
        <td>Trailing (Result declared)</td>
        <td>Leading (Counting in progress)</td>
        <td>Trailing (Counting in progress)</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bharatiya Janata Party</td><td>159</td><td>24</td><td>148</td><td>31</td>
      </tr>
      <tr>
        <td>Samajwadi Party</td><td>25</td><td>91</td><td>25</td><td>76</td>
      </tr>
      <tr>
        <td>Bahujan Samaj Party</td><td>7</td><td>54</td><td>15</td><td>64</td>
      </tr>
      <tr>
        <td>Apna Dal (Soneylal)</td><td>4</td><td>1</td><td>5</td><td>1</td>
      </tr>
      <tr>
        <td>Indian National Congress</td><td>2</td><td>25</td><td>4</td><td>25</td>
      </tr>
      <tr>
        <td>Suheldev Bhartiya Samaj Party</td><td>2</td><td>1</td><td>1</td><td>2</td>
      </tr>
      <tr>
        <td>Independent</td><td>2</td><td>2</td><td>1</td><td>-</td>
      </tr>
      <tr>
        <td>Rashtriya Lok Dal</td><td>1</td><td>3</td><td>-</td><td>1</td>
      </tr>
      <tr>
        <td>Nirbal Indian Shoshit Hamara Aam Dal</td><td>-</td><td>-</td><td>1</td><td>1</td>
      </tr>
      <tr>
        <td>Most Backward Classes Of India</td><td>-</td><td>-</td><td>1</td><td>-</td>
      </tr>
    </tbody>
  </table>
  <h3 class="text-center">
    Trailing parties in BJP winning constituencies (159)
  </h3>
  <table class="table table-hover table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <td>Party</td>
        <td>Number of Constituenices</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Samajwadi Party</td> <td>84</td>
      </tr>
      <tr>
        <td>Bahujan Samaj Party        </td><td>47</td>
      </tr>
      <tr>
        <td>Indian National Congress   </td><td>25</td>
      </tr>
      <tr>
        <td>Rashtriya Lok Dal          </td><td> 2</td>
      </tr>
      <tr>
        <td>Independent                </td><td> 1</td>
      </tr>
    </tbody>
  </table>
  
  <p class="text-muted">
    Last updated: 4:10 pm
  </p>
</body>
</html>
