<!DOCTYPE html>
<html>
<head>
  <title>Voter turnout changes</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
    path.activePath {
      stroke-width: 2px;
      stroke: white;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <table class="table table-responsive table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td>Party</td>
          <td>Leading (Result declared)</td>
          <td>Trailing (Result declared)</td>
          <td>Leading (Counting in progress)</td>
          <td>Trailing (Counting in progress)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-party="Bharatiya Janata Party">Bharatiya Janata Party</td><td>159</td><td>24</td><td>148</td><td>31</td>
        </tr>
        <tr>
          <td data-party="Samajwadi Party">Samajwadi Party</td><td>25</td><td>91</td><td>25</td><td>76</td>
        </tr>
        <tr>
          <td data-party="Bahujan Samajwadi Party" style="color: white;">Bahujan Samaj Party</td><td>7</td><td>54</td><td>15</td><td>64</td>
        </tr>
        <tr>
          <td data-party="Apna Dal (Soneylal)">Apna Dal (Soneylal)</td><td>4</td><td>1</td><td>5</td><td>1</td>
        </tr>
        <tr>
          <td data-party="Indian National Congress">Indian National Congress</td><td>2</td><td>25</td><td>4</td><td>25</td>
        </tr>
        <tr>
          <td data-party="Suheldev Bhartiya Samaj Party">Suheldev Bhartiya Samaj Party</td><td>2</td><td>1</td><td>1</td><td>2</td>
        </tr>
        <tr>
          <td data-party="Independent">Independent</td><td>2</td><td>2</td><td>1</td><td>-</td>
        </tr>
        <tr>
          <td data-party="Rashtriya Lok Dal">Rashtriya Lok Dal</td><td>1</td><td>3</td><td>-</td><td>1</td>
        </tr>
        <tr>
          <td data-party="Nirbal Indian Shoshit Hamara Aam Dal">Nirbal Indian Shoshit Hamara Aam Dal</td><td>-</td><td>-</td><td>1</td><td>1</td>
        </tr>
        <tr>
          <td data-party="Most Backward Classes Of India">Most Backward Classes Of India</td><td>-</td><td>-</td><td>1</td><td>-</td>
        </tr>
      </tbody>
    </table>
    <h3 class="text-center">
      Trailing parties in BJP winning constituencies
    </h3>
    <table class="table table-hover table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <td>Party</td>
          <td>Number of Constituenices</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-party="Samajwadi Party">Samajwadi Party</td> <td>84</td>
        </tr>
        <tr>
          <td data-party="Bahujan Samaj Party">Bahujan Samaj Party        </td><td>47</td>
        </tr>
        <tr>
          <td data-party="Indian National Congress">Indian National Congress   </td><td>25</td>
        </tr>
        <tr>
          <td data-party="Rashtriya Lok Dal">Rashtriya Lok Dal          </td><td> 2</td>
        </tr>
        <tr>
          <td data-party="Independent">Independent                </td><td> 1</td>
        </tr>
      </tbody>
    </table>
    <p class="text-muted">
      Last updated: 4:10 pm
    </p>
    <div class="row">
      <div class="col-md-3 col-sm-12" id="map"></div>
      <div class="col-md-8 col-sm-12">
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <td>Constituency</td>
              <td>Leading candidate</td>
              <td>Leading Party</td>
              <td>Trailing candidate</td>
              <td>Trailing Party</td>
              <td>Status</td>
              <td>Margin</td>
            </tr>
          </thead>
          <tbody id="constituency-table"></tbody>
        </table>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ static_url('vendor/d3/d3.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('vendor/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="{{ static_url('dist/js/d3-tip.js') }}"></script>
  <script type="text/javascript">
    //Width and height
    var w = 600;
    var h = 500;

    var tip = d3.tip()
      .offset([-10, 0])
      .attr('class', 'd3-tip')
      .html(d => { return d.properties.AC_NAME })

    var projection = d3.geoMercator()
      .scale(1)
      .translate([ 0, 0])

    //Define path generator
    var path = d3.geoPath()
      .projection(projection)

    //Create SVG
    var svg = d3.select("#map")
      .append("svg")
      .attr("width", w)
      .attr("height", h);

    svg.call(tip)

    $.ajax('/results', {
      method: 'GET',
      success: function(response) {
        loadMap(response)
      }
    })

    var colors = {
      "Bharatiya Janata Party": "#FFA500",
      "Samajwadi Party": "red",
      "Bahujan Samajwadi Party": "#4B0082",
      "Indian National Congress": "steelblue",
      "Apna Dal (Soneylal)": "#40bfff",
      "Suheldev Bhartiya Samaj Party": "#028002",
      "Independent": "yellow",
      "Nirbal Indian Shoshit Hamara Aam Dal": "#25B8C0",
      "Most Backward Classes Of India": "#81E2D9",
      "default": "pink"
    }

    $("td[data-party]").each(function(d) {
      $(this).css("background", colors[$(this).data("party")])
    })

    //Load in GeoJSON data
    function loadMap(data) {
      data = JSON.parse(data)
      d3.json("{{ static_url('data/up.geojson') }}", function(json) {
        // Calc bounding box transforms for entire collection
        var b = path.bounds( json ),
            s = .95 / Math.max((b[1][0] - b[0][0]) / w, (b[1][1] - b[0][1]) / h),
            t = [(w - s * (b[1][0] + b[0][0])) / 2, (h - s * (b[1][1] + b[0][1])) / 2];

        // Update the projection
        projection
          .scale(s)
          .translate(t);

        //Bind data and create one path per GeoJSON feature
        svg.selectAll("path")
           .data(json.features)
           .enter()
           .append("path")
           .attr("d", path)
           .on('mouseover', mouseover)
           .on('mouseout', tip.hide)

        function fetchRow(constituency) {
          return _.filter(data, function(eachRow) {
            return eachRow["consituency"].toLowerCase() == constituency.toLowerCase();
          })
        }
        function mouseover(d) {
          $("path").removeClass('activePath')
          $(this).addClass('activePath')
          if (Object.keys(d.properties).length >= 1) {
            var details = fetchRow(d.properties["AC_NAME"])[0]
            // console.log(details)
            $("#constituency-table").html("<tr><td>" + details["consituency"] + "</td><td>" + details["leading_cand"] + "</td><td>" + details["leading_party"] + "</td><td>" + details["trailing_cand"] + "</td><td>" + details["trailing_party"] + "</td><td>" + details["status"] + "</td><td>" + details["margin"] + "</td></tr>")
          } else {
            $("#constituency-table").html("Invalid details")
          }
        }
        var mapped = {
          "Rampur Maniharan(SC)": "Rampur Maniharan",
          "Purqazi (SC)": "Purqazi",
          "Nagina (SC)": "Nagina",
          "Nehtaur (SC)": "Nehtaur",
          "Hastinapur (SC)": "",
          "Dhanaura (SC)": "",
          "Hapur (SC)": "",
          "Puranpur (SC)": "",
          "Milak (SC)": "",
          "Chandausi (SC)": "",
          "Bisauli (SC)": "",
          "Powayan (SC)": "",
          "BALHA (SC)": "",
          "Faridpur (SC)": "",
          "Khurja (SC)": "",
          "Khair (SC)": "",
          "Sri Nagar (SC)": "",
          "Iglas (SC)": "",
          "Kasta (SC)": "",
          "Hargaon (SC)": "",
          "Hathras (SC)": "",
          "Gopamau (SC)": "",
          "Duddhi (SC)": ""
        }

        svg.selectAll("path").attr("stroke", "fff")
          .attr("fill", function(d) {
            details = fetchRow(d.properties["AC_NAME"])[0]
            return (typeof details === "undefined") ? "pink" : colors[details["leading_party"]]
          })
      });
    }
  </script>
</body>
</html>

