<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=100%, initial-scale=1">
  <title>Voter Turnouts</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <style type="text/css">
    html, body {
      font-family: 'Roboto Mono', monospace;
    }
    .header {
      text-align: center;
    }
    blockquote, .cube-label {
      font-size: 0.8rem;
      color: #555;
      font-style: italic;
      text-align: center;
    }
    #viz, #legend {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .chart {
      margin: 0.25rem;
      background: #fcfcec;
    }

    .x-axis line, .x-axis path {
      stroke: #fff;
    }
    .y-axis line, .y-axis path {
      shape-rendering: crispEdges;
      stroke: #eee;
    }

    /*d3-tip styling*/
    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
      pointer-events: none;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }

    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    /* Eastward tooltips */
    .d3-tip.e:after {
      content: "\25C0";
      margin: -4px 0 0 0;
      top: 50%;
      left: -8px;
    }

    /* Southward tooltips */
    .d3-tip.s:after {
      content: "\25B2";
      margin: 0 0 1px 0;
      top: -8px;
      left: 0;
      text-align: center;
    }

    /* Westward tooltips */
    .d3-tip.w:after {
      content: "\25B6";
      margin: -4px 0 0 -1px;
      top: 50%;
      left: 100%;
    }

    .d3-tip div {
      font-weight: normal;
      padding: 0.15rem;
    }
  </style>
</head>
<body>
  <h1 class='header'>Voter Turnout - Historical Trend across 5 States</h1>
  <blockquote>* color indicates which party won the highest number of seats in that election, hover over to see more details</blockquote>
  <div id="viz"></div>
  <div id="legend"></div>
  <script type="text/javascript" src="{{ static_url('vendor/d3/d3.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('dist/js/d3-tip.js') }}"></script>
  <script type="text/javascript">
    // Please don't judge me by looking at this code, this had to be done in 2hrs for the election
    // I promise to write this better, once I get some time
    var data = [
      {
        state: 'Uttar Pradesh',
        values: [
          {
            "Year": "1962",
            "turnout": 51.44,
            "winner": "INC"
          },
          {
            "Year": "1967",
            "turnout": 54.55,
            "winner": "INC"
          },
          {
            "Year": "1969",
            "turnout": 53.99,
            "winner": "INC"
          },
          {
            "Year": "1974",
            "turnout": 56.91,
            "winner": "INC"
          },
          {
            "Year": "1977",
            "turnout": 46.14,
            "winner": "JNP"
          },
          {
            "Year": "1980",
            "turnout": 44.92,
            "winner": "INC"
          },
          {
            "Year": "1985",
            "turnout": 45.55,
            "winner": "INC"
          },
          {
            "Year": "1989",
            "turnout": 51.43,
            "winner": "JD"
          },
          {
            "Year": "1991",
            "turnout": 48.51,
            "winner": "BJP"
          },
          {
            "Year": "1993",
            "turnout": 57.13,
            "winner": "BJP"
          },
          {
            "Year": "1996",
            "turnout": 55.72,
            "winner": "BJP"
          },
          {
            "Year": "2002",
            "turnout": 53.8,
            "winner": "SP"
          },
          {
            "Year": "2007",
            "turnout": 45.96,
            "winner": "BSP"
          },
          {
            "Year": "2012",
            "turnout": 59.52,
            "winner": "SP"
          }
        ]
      },
      {
        state: 'Uttarakhand',
        values: [
          {
            "Year": "2002",
            "turnout": 54.34,
            "winner": "INC"
          },
          {
            "Year": "2007",
            "turnout": 63.36,
            "winner": "BJP"
          },
          {
            "Year": "2012",
            "turnout": 66.85,
            "winner": "INC"
          }
        ]
      },
      {
        state: 'Punjab',
        values: [
          {
            "Year": "1962",
            "turnout": 65.46,
            "winner": "INC"
          },
          {
            "Year": "1967",
            "turnout": 71.18,
            "winner": "INC"
          },
          {
            "Year": "1969",
            "turnout": 72.27,
            "winner": "SAD"
          },
          {
            "Year": "1972",
            "turnout": 68.63,
            "winner": "INC"
          },
          {
            "Year": "1977",
            "turnout": 65.37,
            "winner": "SAD"
          },
          {
            "Year": "1980",
            "turnout": 64.33,
            "winner": "INC"
          },
          {
            "Year": "1985",
            "turnout": 67.53,
            "winner": "SAD"
          },
          {
            "Year": "1992",
            "turnout": 23.82,
            "winner": "INC"
          },
          {
            "Year": "1997",
            "turnout": 68.73,
            "winner": "SAD"
          },
          {
            "Year": "2002",
            "turnout": 65.14,
            "winner": "INC"
          },
          {
            "Year": "2007",
            "turnout": 75.46,
            "winner": "SAD"
          },
          {
            "Year": "2012",
            "turnout": 78.3,
            "winner": "SAD"
          }
        ]
      },
      {
        state: 'Manipur',
        values: [
          {
            "Year": "1967",
            "turnout": 67.22,
            "winner": "INC"
          },
          {
            "Year": "1972",
            "turnout": 75.89,
            "winner": "INC"
          },
          {
            "Year": "1974",
            "turnout": 84.6,
            "winner": "MRP"
          },
          {
            "Year": "1980",
            "turnout": 82.42,
            "winner": "INC"
          },
          {
            "Year": "1984",
            "turnout": 87.29,
            "winner": "INC"
          },
          {
            "Year": "1990",
            "turnout": 89.95,
            "winner": "INC"
          },
          {
            "Year": "1995",
            "turnout": 91.41,
            "winner": "INC"
          },
          {
            "Year": "2000",
            "turnout": 89.87,
            "winner": "MSCP"
          },
          {
            "Year": "2002",
            "turnout": 90.38,
            "winner": "INC"
          },
          {
            "Year": "2007",
            "turnout": 86.68,
            "winner": "INC"
          },
          {
            "Year": "2012",
            "turnout": 79.93,
            "winner": "INC"
          }
        ]
      },
      {
        state: 'Goa',
        values: [
          {
            "Year": "1967",
            "turnout": 68.25,
            "winner": "MAG"
          },
          {
            "Year": "1972",
            "turnout": 69.16,
            "winner": "MAG"
          },
          {
            "Year": "1977",
            "turnout": 63.22,
            "winner": "INC"
          },
          {
            "Year": "1980",
            "turnout": 69.51,
            "winner": "INC"
          },
          {
            "Year": "1989",
            "turnout": 70.36,
            "winner": "INC"
          },
          {
            "Year": "1994",
            "turnout": 71.2,
            "winner": "INC"
          },
          {
            "Year": "1999",
            "turnout": 63.59,
            "winner": "INC"
          },
          {
            "Year": "2002",
            "turnout": 68.75,
            "winner": "BJP"
          },
          {
            "Year": "2007",
            "turnout": 70.51,
            "winner": "INC",
          },
          {
            "Year": "2012",
            "turnout": 82.94,
            "winner": "BJP"
          }
        ]
      }
    ]

    data.forEach(state => {
      state.values.forEach(item => {
        item['Year'] = +item['Year']
      })
    })

    Array.prototype.extend = function (other_array) {
      other_array.forEach(function(v) {this.push(v)}, this);
    }

    var years = []
    data.forEach((state) => {
      years.extend(state['values'].map(d => d.Year))
    })

    years = [... new Set(years)].sort()

    var width = 350,
        height = 150,
        margin = { top: 40, right: 15, bottom: 50, left: 50 }

    var abbr_party = {
      'BJP': 'Bharatiya Janata Party',
      'INC': 'Indian National Congress',
      'JNP': 'Janata Party',
      'JD': 'Janata Dal',
      'SP': 'Samajwadi Party',
      'BSP': 'Bahujan Samaj Party',
      'SAD': 'Shiromani Akali Dal',
      'MPP': 'Manipur Peoples Party',
      'MSCP': 'Manipur State Congress Party',
      'MAG': 'Maharashtrawadi Gomantak Party'
    }

    var color = d3.scaleOrdinal()
        .domain(['BJP', 'INC', 'JNP', 'JD', 'SP', 'BSP', 'SAD', 'MPP', 'MSCP', 'MAG'])
        .range(['orange', '#23CDC7', '#FF7315', '#FF7315', '#FE0000', '#2C55AD', '#0034B8', '#D7201F', '#00ACC1', '#8D6E63'])

    var tip = d3.tip()
      .offset([-10, 0])
      .attr('class', 'd3-tip')
      .html(d => `
          <div class='vto-tip'>Turnout: <strong>${d.turnout}%</strong></div>
          <div class='party-tip'>Highest # Seats: <strong style='color: ${color(d.winner)};'>${d.winner}</strong></div>
          <div class='year-tip'>Year: <strong>${d.Year}</strong></div>
        `)

    var legendScale = d3.scaleOrdinal()
    .domain(color.domain())
    .range([0,100,200,300,400,500,600,700, 800, 900, 1000])

    var xscale = d3.scaleBand()
      .domain(years)
      .range([0, width])
      .padding(0.1)

    var yscale = d3.scaleLinear()
      .domain([0, 100])
      .range([height, 0])

    var div = d3.select('#viz')
      .selectAll('div.chart').data(data)
    .enter().append('div')
      .classed('chart', true)

    var svg = div.append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
      .append('g')
        .attr('transform', `translate(${margin.left}, ${margin.top})`)

    svg.call(tip)

    var stateLabels = svg.append('text')
      .classed('state-label', true)
      .attr('text-anchor', 'middle')
      .attr('x', width / 2)
      .attr('y', -10)
      .text(d => d.state)

    var yearLabels = svg.append('text')
      .classed('year-label', true)
      .attr('text-anchor', 'middle')
      .attr('x', width / 2)
      .attr('y', height + (margin.bottom - 5))
      .text(d => 'Year of Election')

    var turnoutLabels = svg.append('text')
      .classed('turnout-label', true)
      .attr('text-anchor', 'start')
      .attr('x', -(height/2) - 40)
      .attr('y', 0)
      .attr('dy', '-2em')
      .attr('transform', `rotate(-90)`)
      .text(d => 'Turnout (%)')

    var xaxis = d3.axisBottom(xscale)
    var yaxis = d3.axisLeft(yscale)
        .ticks(10)
        .tickSize(-width)


    svg.append('g')
      .classed('axis', true)
      .classed('x-axis', true)
      .attr('transform', `translate(0, ${height})`)
      .call(xaxis)
    .selectAll('text')
      .attr('y', 5)
      .attr('x', -4)
      .attr('dy', '.35em')
      .attr('transform', 'rotate(-45)')
      .style('text-anchor', 'end');

    svg.append('g')
      .classed('axis', true)
      .classed('y-axis', true)
      .call(yaxis)

    // Create Bar Chart
    var bars = svg
        .selectAll('rect.bar').data(c => c.values)
      .enter().append('rect')
        .attr('x', d => xscale(d.Year))
        .attr('width', xscale.bandwidth())
        .attr('y', 0)
        .attr('height', height)
        .attr('fill', d => color(d.winner))
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)
      .transition()
        .delay(50)
        .duration(2000)
        .attr('y', d => yscale(d.turnout))
        .attr('height', d => (height - yscale(d.turnout)))

      var midline = svg.append('g')
      .append('line')
        .classed('midline-mark', true)
        .attr('x1', xscale(1962))
        .attr('y1', yscale(50))
        .attr('x2', xscale(2012) + xscale.bandwidth())
        .attr('y2', yscale(50))
        .attr('stroke', 'tomato')

      var legend = d3.select('#legend')
        .append('svg')
        .attr('width', 1200)
        .attr('height', 20)
        .attr('viewBox', '0 0 1000 20')
        .selectAll('.cube').data(color.domain())

      legend.enter().append('rect')
        .classed('cube', true)
        .attr('x', d => legendScale(d))
        .attr('y', 0)
        .attr('rx', 15)
        .attr('ry', 15)
        .attr('width', 15)
        .attr('height', 15)
        .attr('fill', d => color(d))

      legend.enter().append('text')
        .classed('cube-label', true)
        .attr('x', d => legendScale(d) + 18)
        .attr('y', 15)
        .attr('dy', '-0.15rem')
        .text(d => d)
  </script>
</body>
</html>
